* {
    box-sizing: border-box;
}

.main {
 max-width: 576px;
 margin: 0 auto;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    /* border: 1px solid red; */
    max-width: 100%;
    margin: 0 auto;
    height: 50vh;
}
body {
    background-color: #212121;
    color: aliceblue;
}

.a {
    /* border: 1px solid blue; */
    height: 60vh;
    max-width: 50%;
    
}
.b {
    /* border: 1px solid green; */
    max-width: 50%;
    height: 60vh;
}

.teamA {
    text-align: center;
}
.scoreA {
    text-align: center;
    color: rgb(152, 249, 5);
}
.teamB {
    text-align: center;
    color: brown;
}
.scoreB {
    text-align: center;
    color: crimson;
}
.winner { 
     display: block; 
     text-align: center;
     margin-top: 20px;
     font-size: 28px;
} 
.addScore {
    display: block;
    width: 90px;
    height: 40px;
    background-color: rgb(86, 208, 86);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
}

.removeScore {
    font-size: 2;
    display: block;
    width: 120px;
    height: 40px;
    background-color: rgb(86, 208, 86);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
.add {
    display: block;
    width: 90px;
    height: 40px;
    background-color: rgb(86, 208, 86);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
}

.remove {
    
    display: block;
    width: 120px;
    height: 40px;
    background-color: rgb(86, 208, 86);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
}
.reset {
   
    display: block;
    width: 90px;
    height: 40px;
    background-color: rgb(86, 208, 86);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    margin-top: 40px;


}